.black {
	background-color: rgb(43, 255, 0);
}

.white {
	background-color: rgb(255, 255, 255);
}

.field {
	position: relative;
}
.field > div {
	position: absolute;
	width: 15px;
	height: 15px;
}

.pink {
	background-color: rgb(255, 145, 0);
}

.start {
	background-color: rgb(0, 38, 255);
}

.end {
	background-color: rgb(255, 0, 0);
}

img {
	position: absolute;
	width: 15px;
	height: 15px;
	transform: rotate(180deg);

	transition: 0.5s;

	z-index: 100;
}

.text-area:focus::placeholder {
	opacity: 0;
}

body {
	display: flex;
}

.interface {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 50px;
}

.text-area {
	margin-bottom: 20px;
}
